<center>
<%= image_tag 'C7.png' %>
<h3>A brand new shirt every month. Shipped directly to your door.</h3>
</br>
<%= image_tag '389.jpg' %>
</br>
</br>
Meticulous craftsmanship. Supreme ease.
</br>
</br>
<% if !user_signed_in? %>
	<%= render "/devise/registrations/signup" %>
<% end %>

<% if user_signed_in? %>
	<%= link_to 'Subscribe me!', new_order_path %>
	<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>	
<% end %>
</br>
</br>
</center>
<%= link_to 'Orders', orders_path %>
<%= link_to 'Shirts', shirts_path %>
<%= link_to 'Styles', styles_path %>

