<center>
<%= image_tag 'C7.png' %>
<h3>A brand new shirt every month. Shipped directly to your door.</h3>
</br>
<%#= image_tag '389.jpg' %>
</br>
</br>
Meticulous craftsmanship. Supreme ease.
</br>
</br>
<% if !user_signed_in? %>
<h3> Ok sweet, I want this. </h3>
	<%= render "/devise/registrations/signup" %>
<% end %>

<% if user_signed_in? %>
	<%= link_to 'I want a new subscription!', fill_user_info_path %>
	<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>	
<% end %>
</br>
</br>
</center>
<%= link_to 'Orders', orders_path %>
<%= link_to 'Shirts', shirts_path %>
<%= link_to 'Styles', styles_path %>


</br>
<% if !user_signed_in? %>
	<%= link_to('Login', new_user_session_path)  %>  
<% end %>
<% if user_signed_in? %>
	<%= link_to 'My Account', myaccount_path(current_user) %>
<% end %>
