<h1>Listing shirts</h1>

<table>
  <tr>
    <th>Shirt ID</th>
    <th>Fabric</th>
    <th>Price</th>
	<th>Style</th>
	<th>Order</th>
  
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shirts.each do |shirt| %>
  <tr>
    <td><%= shirt.id %></td>
	<td><%= shirt.fabric %></td>
	<td><%= shirt.price %></td>
	<td><%= shirt.style %></td>
	<td><%= shirt.order_id %></td>
  
    <td><%= link_to 'Show', shirt %></td>
    <td><%= link_to 'Edit', edit_shirt_path(shirt) %></td>
    <td><%= link_to 'Destroy', shirt, :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shirt', new_shirt_path %>
<%= link_to 'Shirt Styles', styles_path %>
