<%= form_for(resource, :as => resource_name, :url => edit_user_path(resource_name), :html => { :method => :put }) do |f| %>

  <div class="field">
	<%= f.label :height_ft %><br />
	<%= f.text_field :height_ft %>
  </div>
  <div class="field">
	<%= f.label :height_in %><br />
	<%= f.text_field :height_in %>
  </div>
  <div class="field">
	<%= f.label :weight_lb %><br />
	<%= f.text_field :weight_lb %>
  </div>
  <div class="field">
	<%= f.label :body_type %><br />
	<%= f.text_field :body_type %>
  </div>
  <div class="field">
	<%= f.label :fave_garm_id %><br />
	<%= f.text_field :fave_garm_id %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
