
<% if current_user.is_admin? %>
	<h1>User Summary</h1>
	<table>
	  <tr>
		<th>User ID</th>
		<th>email</th>
		<th>Height</th>
		<th>Inches</th>
		<th>Weight</th>
		<th>Body Type</th>
		<th>Fave Garm</th>
		<th></th>
		<th></th>
		<th></th>
	  </tr>

	<% @users.each do |u| %>
	  <tr>
		<td><%= u.id %></td>
		<td><%= u.email %></td>
		<td><%= u.height_ft %></td>
		<td><%= u.height_in %></td>
		<td><%= u.weight_lb %></td>
		<td><%= u.body_type %></td>
		<td><%= u.fave_garm_id %></td>
		<td><%#= link_to 'Show', order %></td>
		<td><%#= link_to 'Edit', edit_user_path(u) %></td>
		<td><%= link_to 'Destroy', :user, :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
	<% end %>
	</table>

	<br />
<% else %>

<h2>Sorry, only admins in here.</h2>
	
	
<% end %>


<%= link_to 'Orders', orders_path %>
<%= link_to 'Shirt Styles', styles_path %>
<%= link_to 'Shirts', shirts_path %>
<%= link_to 'Home', root_path %>